<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
	<head>
	<meta http-equiv="Content-Type" content="text/html" charset="ISO-8859-1" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>{{page_title}}</title>
	<script type="application/javascript" src="{{static_url('js/jquery-2.1.3.min.js')}}"></script>
	<script type="application/javascript" src="{{static_url('jquery-ui/jquery-ui.min.js')}}"></script>
	<script type="application/javascript" src="{{static_url('news-ticker/dist/telex.js')}}"></script>
	<script type="application/javascript" src="{{static_url('js/admin.js')}}"></script>
	<script type="application/javascript" src="{{static_url('js/signup.js')}}"></script>
	<script type="application/javascript" src="{{static_url('js/main.js')}}"></script>
	<script type="application/javascript" src="{{static_url('js/myprofile.js')}}"></script>
	{% block header_script %}
	{% end %}
	<link rel="shortcut icon" href="{{static_url('icons/favicon.jpg')}}" />
	<link type="text/css" rel="stylesheet" href="{{static_url('jquery-ui/jquery-ui.css')}}"/>
	<link type="text/css" rel="stylesheet" href="{{static_url('css/index.css')}}"/>
	<link type="text/css" rel="stylesheet" href="{{static_url('css/signup.css')}}"/>
	<link type="text/css" rel="stylesheet" href="{{static_url('css/main.css')}}"/>
	<link type="text/css" rel="stylesheet" href="{{static_url('css/myprofile.css')}}"/>
	{% block header_css %}
	{% end %}
	</head>
	<body>
		<header>
			{% block header %}
				<div id="header">
					<p class="headerImage">
						<img class="trueNorthLogo" src="{{static_url('images/truenorth.png')}}" alt="TrueNorth Logo" />
						{% block user_info %}{% end %}
					</p>
					<p class="headerHeading">
						<span class="heading">{{heading}}</span>
					</p>
				</div>
			{% end %}		
		</header>

		<content>
			{% block progress %}
				<div class="progress-bar" id="progress" style="display: none"><img class="loading-img" src="{{static_url('icons/loading11.gif')}}" alt="Loading..." height="100" width="80" /></div>
			{% end %}
			{% block content %}
			{% end %}
		</content>	
		<footer>
			{% block footer %}
				<div id="footer" >
                <div id="news-ticker"></div>
					<hr />
					<p>
						TrueNorth 2015<br />
						a BI software tool which is meant for internal use only and has got no commercial value.<br />
						In case of help required, please do contact us on jeydurai@cisco.com
					</p>
				</div>
			{% end %}
		</footer>		
	</body>
</html>
