{% extends "main.html" %}
{% block user_info %}
	<span class="signin-span">
		<span><a href="/login">Sign in </a></span>
	</span>
{% end %}
{% block content %}
	<div id="main">
        <div id="change-container">
            <span id="change-message" style="display: none">{{message}}</span>
        </div>
        <form action="#" method="POST" id="change-form">
            {% raw xsrf_form_html() %}
            <h2>Change Password</h2><br />
            <a href=""><img src="{{static_url('images/profile_image.png')}}" alt="Profile Image" href="" /></a><br /><br />
            <label for="labelUserName">Username:</label><br /><input type="text" name="userName" id="userName" value="" autofocus/><br /><br />
            <label for="labelPassword">Old Password:</label><br /><input type="password" name="old-password" id="old-password"/><br />
            <label for="labelPassword">New Password:</label><br /><input type="password" name="new-password" id="new-password"/><br />
            <label for="labelPassword">Confirm Password:</label><br /><input type="password" name="confirm-password" id="confirm-password" /><br />
            <input type="hidden" id="hidden" name="hidden" value="login" />
            {% try %}
                {% if len(err) > 0 %}
                    <span class="error"><label>{{ err }}</label></span><br />
                {% end %}
            {% except %}
            {% end %}
            <br /><input type="button" id="password-change" name="password-change" value="Done" />
        </form>
	</div>
{% end %}
