@CHARSET "ISO-8859-1";

.signUp a img {
	width: 50%;
}

div#error {
	color: red;
}

span#select-all {
	font-weight: normal;
	font-size: small;
}

#user-form {
	overflow : auto;
	width: 100%;
}

#main_signup {
	margin: auto;
	margin-top: 7%;
	margin-left: 15%;
	margin-right:20%
}

#main_signup table {
	border-collapse:collapse;
    border-style:solid;
    border-width:1px;
    border-color:#5A5097;
    font:14px Georgia, serif;
    border-spacing:10px;
    box-shadow:1px 1px 3px 1px #6E6D6D;
    width:100%
	
}

table tr td {
	padding: 10px;
	font-weight: bold;
}

span.select {
	font-weight: bold;
}

select[multiple]#sl6-option {
	height: 16em;
}

select[multiple]#salesagent-option {
	height: 16em;
}
